beautifulsoup4
cython
dask
flask
numba
numexpr
numpy
pandas
pytest
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
tornado
yellowbrick
keras
nltk 
spacy
plotly
pyarrow
opencv
tensorflow
tpot
scikit-surprise
pyldavis
graphviz
python-graphviz
pytest-cov
stanfordcorenlp
sumy
sklearn-pandas
gensim
xldr 

