beautifulsoup4
cython
flask
numba
numexpr
numpy
pandas
pytest
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
tornado
yellowbrick
keras
nltk 
spacy
plotly
pyarrow
tensorflow
tpot
scikit-surprise
pyldavis
graphviz
pytest-cov
gensim
xlrd

